{%extends 'core/base.html'%}

{% block title %}Adopciones{% endblock %}

{% block page1_block %} {% endblock %}

{% block content %}
{% load static %}
  <div class="content page1">
    <div class="container_12">
      <div class="grid_12">
        <h2>Mascotas en adopción</h2>
      </div>
      <div class="clear"></div>
      <ul>

        {% for pet in pet_list  %}

          <li class="grid_4">
            <img src="{{ pet.avatar.url }}" alt="" class="img_inner fleft center_image" >
            <div class="extra_wrapper pad1 style1">
              <p class="col2"> <h3 class="h_modified" > <a href="{% url 'pet:detail_pet' pet.id %}">  {{ pet.name }}  </a> </h3>  </p>
              Edad: {{ pet.age }} años <br>
              Raza: {{ pet.breed }}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}


{% block tips_more %}{% endblock %}

